[submodule "phonecodes"]
	path = phonecodes
	url = https://github.com/jhasegaw/phonecodes.git
[submodule "arpabet-syllabifier"]
	path = arpabet-syllabifier
	url = https://github.com/dippedrusk/arpabet-syllabifier.git
